<h1 class="ps-4 pt-3 pb-3">Stupid Coaching</h1>

<div class="ps-4">
  <p><%= @question %></p>
  <p class="pb-3"><em>- You</em></p>

  <p><strong><%= @answer %></strong></p>
  <p class="pb-3"><em>- Your coach</em></p>

  <%= link_to "Ask again", root_path %>
</div>
