<h1 class="ps-4 pt-2">Stupid Coaching</h1>

<div class="ps-4">
  <p><%= @question %></p>
  <p><em>- You</em></p>

  <p><strong><%= @answer %></strong></p>
  <p><em>- Your coach</em></p>

  <%= link_to "Ask again", root_path %>
</div>
