<h1 class="ps-4 pt-2">Stupid Coaching</h1>

<form action="/answer" data-turbo="false" class="ps-4">
  <input type="text" name="question" placeholder="Ask your coach">
  <input type="submit" value="Ask!">
</form>
